$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
$red: #ff3131;

$shadow: 5px 5px 10px $gray-500;
$shadow-hover: 5px 5px 10px $gray-600;
$shadow-active: inset 3px 3px 5px $gray-700;

$screen-width: 960px;
